<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.drventryca">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityDiagnosis.DiagPerPart3"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityDiagnosis.DiagPerPart2"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityDiagnosis.DiagAn"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityDiagnosis.DiagPerPart1"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityDiagnosis.DiagPer"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityDiagnosis.DiagTengPart2"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityDiagnosis.DiagTengPart1"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityDiagnosis.DiagTeng"
            android:screenOrientation="portrait" />
        <activity android:name=".ActivityDiagnosis.DiagGeneral"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.BMICalc"
            android:theme="@style/slideToRight"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.Login"
            android:noHistory="true"
            android:theme="@style/AppTheme4"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityDiagnosis.ResultDiag"
            android:noHistory="true" android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.HealthNews"
            android:noHistory="true"
            android:theme="@style/toLeft"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.DetailDisease"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.FaktaTips"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityDiagnosis.ReadyDiag" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.DataDisease" android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.Landing"
            android:theme="@style/AppTheme3"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.SplashScreen"
            android:noHistory="true"
            android:theme="@style/AppTheme4"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Register"
            android:noHistory="true"
            android:theme="@style/AppTheme4" android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.IntroduceSlide"
            android:noHistory="true" android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.GetStarted"
            android:noHistory="true" android:screenOrientation="portrait"/>
    </application>

</manifest>