<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.drventryca">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login"></activity>
        <activity
            android:name=".Result"
            android:noHistory="true" />
        <activity
            android:name=".Diagnosis"
            android:noHistory="true" />
        <activity
            android:name=".HealthNews"
            android:theme="@style/customAnimation" />
        <activity android:name=".DetailDisease" />
        <activity android:name=".FaktaTips" />
        <activity android:name=".ReadyDiag" />
        <activity android:name=".DataDisease" />
        <activity
            android:name=".Landing"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".Register"
            android:noHistory="true"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".IntroduceSlide"
            android:noHistory="true" />
        <activity
            android:name=".GetStarted"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>