<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.drventryca">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.DiagStepTengPart"></activity>
        <activity android:name=".Activity.DiagStepTeng" />
        <activity android:name=".Activity.DiagStepGeneral" />
        <activity
            android:name=".Activity.BMICalc"
            android:theme="@style/slideToRight" />
        <activity
            android:name=".Activity.Login"
            android:noHistory="true"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".Activity.Result"
            android:noHistory="true" />
        <activity
            android:name=".Activity.Diagnosis_Unused"
            android:noHistory="true" />
        <activity
            android:name=".Activity.HealthNews"
            android:theme="@style/slideToLeft" />
        <activity android:name=".Activity.DetailDisease" />
        <activity android:name=".Activity.FaktaTips" />
        <activity android:name=".Activity.ReadyDiag" />
        <activity android:name=".Activity.DataDisease" />
        <activity
            android:name=".Activity.Landing"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".Activity.SplashScreen"
            android:noHistory="true"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".Activity.Register"
            android:noHistory="true"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".Activity.IntroduceSlide"
            android:noHistory="true" />
        <activity
            android:name=".Activity.GetStarted"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>